.DS_Store
**/target
**/zig-cache
**/zig-out
node_modules
/package/vendors
/package/src/extractor/.zig-cache
/package/src/launcher/.zig-cache
.zig-cache
.colab.json
dist
.cache
/package/bin/electrobun
/package/bin/electrobun.exe
electrobun-cef*
electrobun-core*
electrobun-cli*
dist-*
/package/src/cli/templates/embedded.ts
/package/src/bun/preload/.generated
*.tar.gz
settings.local.json
/package/src/native/win/build
/package/smtc/build
/package/src/cli/build
/package/src/extractor/zig-out
/package/src/launcher/zig-out
/test
/package/bun.lock